ul {
  width: 300px;
  box-sizing: border-box;
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 8px 10px;
  background-color: rgb(113, 238, 238);
  margin-bottom: 10px;
  border-radius: 20px;
}

p {
  flex-grow: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  font-weight: 600;
  margin: 0;
  max-width: 210px;
}

.td-done {
  text-decoration: line-through;
}
